name: pyg4ometry

on:
  push:
    branches:
      - main
      - 'releases/**'
  pull_request:
  release:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  build-and-test:
    name: Test with Python
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']
        os: [ubuntu-latest, macOS-latest]
    steps:
    - uses: actions/checkout@v3
    - name: Install non-pip dependencies on Ubuntu
      if: runner.os == 'Linux'
      run: sudo .github/bin/install-deps-ubuntu.sh
    - name: Install non-pip dependencies on MacOS
      if: runner.os == 'macOS'
      run: .github/bin/install-deps-macos.sh
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Get dependencies and install pyg4ometry
      run: |
        python -m pip install --upgrade pip wheel setuptools
        python -m pip install --upgrade --verbose .[test]
    - name: Run unit tests
      run: |
        # python -m pytest

  test-in-container:
    name: Test in Docker container
    runs-on: ubuntu-latest
    container: docker://gipert/pyg4ometry:latest
    steps:
    - uses: actions/checkout@v3
    - name: Get dependencies and install pyg4ometry
      run: |
        python -m pip install --upgrade pip wheel setuptools
        python -m pip install --upgrade --verbose .[test]
    - name: Run unit tests
      run: |
        # python -m pytest

  test-coverage:
    name: Calculate and upload test coverage
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 2
    - name: Install non-pip dependencies on Ubuntu
      run: sudo .github/bin/install-deps-ubuntu.sh
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Generate Report
      run: |
        python -m pip install --upgrade pip wheel setuptools
        python -m pip install --upgrade --verbose .[test]
        # python -m pytest --cov=pyg4ometry --cov-report=xml
    - name: Upload Coverage to codecov.io
      uses: codecov/codecov-action@v3
